$(function() {


  $(".stack").transition({ 
      opacity:  1,
      width: '100%',
      easing: 'snap',
      duration: 1200 
  });


// #################
// PLUGIN INITS
// #################

  var ingTag = $(".ingredient-tag");
  // var percentage = ingTag.data().percentage

  ingTag.each(function() {
    // alert($(".ingredient-tag").data("percentage"))
    // console.log($(this).data().percentage)
    $(this).delay(500).transition({ 
        opacity:  1,
        width: $(this).data().percentage,
        easing: 'snap',
        duration: 1200 
     });
  });



   $('.chart').easyPieChart({
         animate: 2000,
         barColor: "black",
         trackColor: "EEEA1D",
         scaleColor: "black",
         lineWidth: "10"
    });


$("#stack_name").focusout(function() {
  $('#stack-images img').remove();
  var name = $(this).val();
  // alert(name);

  var data = $.getJSON('/images.json?name='+ name, function(data) {
      var images = data.data.images;

      // console.log("DATA: ",images);
      $('<h1>Images: '+name +'</h1>').appendTo('#stack-images');
      $.each(images, function(index, data) {
          // $("#stack-images img").remove();
          $('<img/>').attr('src', data).appendTo('#stack-images');
          var new_id = new Date().getTime();
          
          $('<input id="stack_stack_images_attributes_'+new_id+'_name" name="stack[stack_images_attributes]['+new_id+'][name]"  type="hidden">').attr('value', data).appendTo('#stack-images');
          $('<input class="by-rich" id="stack_stack_images_attributes_'+new_id+'_url" name="stack[stack_images_attributes]['+new_id+'][url]" type="hidden" >').attr('value', data).appendTo('#stack-images');

      });

    //   $.each(data.images, function() {
    //     alert("success")
    // });


  });


});


});//ready


function add_fields(link, association, content) {
  var new_id = new Date().getTime(),
      // input  = jQuery('<label for="stack_ingredients_attributes_'+new_id+'_name">Ingredient Name</label><div class="cf" /><input class="" name="stack[ingredients_attributes]['+new_id+'][name]"><input class="Percentage" id="stack_ingredients_attributes_'+new_id+'_percentage" name="stack[ingredients_attributes]['+new_id+'][percentage]" placeholder="Percentage" size="30" type="text" value="50"></div><br />');
         input  = jQuery('<table><td><input class="" name="stack[ingredients_attributes]['+new_id+'][name]"></td><td width="50" "><input class="Percentage" id="stack_ingredients_attributes_'+new_id+'_percentage" name="stack[ingredients_attributes]['+new_id+'][percentage]" placeholder="Percentage" size="30" type="text"></td></table>');




    if ($('#stack_ingredients_attributes_0_name').length > 0 ) {
      $("#ingredients").eq(-1).after(input);
    } else {
      $(".ingredients-header").after(input);
    }
  }

function add_goals(link, association, content) {
  var new_id = new Date().getTime(),
      input  = jQuery('<input class="required" id="stack_goals_attributes_'+ new_id +'_description" name="stack[goals_attributes]['+ new_id +'][description]" rows="3" size="30" type="text">');

   
      if ($('#stack_goals_attributes_0_description').length > 0 ) {
        // alert("el exists");
        $(".goals-header").after(input);

      } else {
        $(".goals-header").after(input);
      }


}


$(function autocompleter () {
  <% 
    _all        =   Ingredient.all
    _all_names  =   _all.map { |a| a.name }  
  %>
   var availableTags = <%= _all_names  %>;
   $( ".ingredients input" ).autocomplete({
      source: availableTags
   });
});//autocompleter

