$(function() {
  // alert("asd")

   $('.chart').easyPieChart({
         animate: 2000,
         barColor: "black",
         trackColor: "red",
         lineWidth: "5"
    });

   
  
  <% 
    _all        =   Ingredient.all
    _all_names  =   _all.map { |a| a.name }  
  %>
   var availableTags = <%= _all_names  %>;
   $( ".ingredients input" ).autocomplete({
      source: availableTags
   });


$("#stack_name").focusout(function() {
  var name = $(this).val();
  // alert(name);

  var data = $.getJSON('/images.json?name='+ name, function(data) {
      var images = data.data.images;

      // console.log("DATA: ",images);
      $('<h1>Images: '+name +'</h1>').appendTo('#stack-images');
      $.each(images, function(index, data) {
          // $("#stack-images img").remove();

          $('<img/>').attr('src', data).appendTo('#stack-images');
          var new_id = new Date().getTime();
          
          $('<input id="stack_stack_images_attributes_'+new_id+'_name" name="stack[stack_images_attributes]['+new_id+'][name]"  type="hidden">').attr('value', data).appendTo('#stack-images');

          $('<input class="by-rich" id="stack_stack_images_attributes_'+new_id+'_url" name="stack[stack_images_attributes]['+new_id+'][url]" type="hidden" >').attr('value', data).appendTo('#stack-images');

      });

    //   $.each(data.images, function() {
    //     alert("success")
    // });


  });


});


});//ready


function add_fields(link, association, content) {
  var new_id = new Date().getTime(),
      input  = jQuery('<div class="cf" /><label for="stack_ingredients_attributes_'+new_id+'_name">Ingredient Name</label><input class="" name="stack[ingredients_attributes]['+new_id+'][name]"><br />');

  if ($('#stack_ingredients_attributes_0_name').length > 0 ) {
    $("#stack_ingredients_attributes_1_name").after(input);
  } else {
    $(".ingredients-header").after(input);
  }


}