$(function() {
  // alert("asd")
  <% 
    _all        =   Ingredient.all
    _all_names  =   _all.map { |a| a.name }  
  %>
   var availableTags = <%= _all_names  %>;
   $( ".ingredients input" ).autocomplete({
      source: availableTags
   });
});


function add_fields(link, association, content) {
  var new_id = new Date().getTime(),
      input  = jQuery('<div class="cf" /><label for="stack_ingredients_attributes_'+new_id+'_name">Ingredient Name</label><input name="stack[ingredients_attributes]['+new_id+'][name]"><br />');

  if ($('#stack_ingredients_attributes_0_name').length > 0 ) {
    $("#stack_ingredients_attributes_1_name").after(input);
  } else {
    $(".ingredients-header").after(input);
  }


}