doctype
html
  head
    title noo stack
    link href="/favicon.ico?05112013" rel="shortcut icon"
    = stylesheet_link_tag    "application", :media => "all"
    link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"
      = javascript_include_tag "application"   
      link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
      = javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js"
      = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"

      = csrf_meta_tags
  body
    .full-width-top
      | \&nbsp;
      .search
        = render '/welcome/search'
    = render '/layouts/nav'
    = render '/layouts/login_register'
    #view-wrapper
      = yield
